// Utilllity = 強制的に上書きするコード

@use '../foundation/index' as *;


.pc-none {
  @include media(pc_only) {
    display: none !important;
  }
}

.sp-none {
  @include media() {
    display: none !important;
  }
}


.is-center {
  text-align: center !important;
}


// アコーディオン
.js-accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height .6s;
}

.is-open .js-accordion__content {
  max-height: var(--max-height);
}
