@use '../../foundation/index' as *;

.button__area {
  margin: 0 auto;
  width: 300rem;
  height: 55rem;
}

.button__link {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 30rem;
  background-color: var(--colorKey);
  color: #fff;
  font-size: r(16);

  place-items: center;

  &::after {
    content: '';
    position: absolute;
    right: 30rem;
    display: block;
    width: 10rem;
    height: 10rem;
    border: 1px solid #fff;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(135deg);
    // transform: rotate(135deg) skew(5deg, 5deg);

    @include media() {
      border-width: 1px;
    }
  }
}

.button__area.cta__button {
  margin-top: 55rem;
  width: 100%;
  height: auto;

  @include media() {
    margin-top: 70rem;
  }


  & .button__link {
    padding: 40rem 0;
    border-radius: 10rem;
    letter-spacing: .05em;
    font-size: r(26);

    @include media() {
      font-size: r(32);
    }

    &::after {
      @include media() {
        right: 70rem;
        width: 15rem;
        height: 15rem;
      }
    }

    & span {
      font-size: r(14);

      @include media() {
        font-size: r(20);
      }
    }
  }
}
