@use '../../foundation/index' as *;

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 60rem;

  @include media() {
    margin: 60rem auto 0;
    width: 690rem;
  }
}

ul.page-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-numbers li {
  &::before {
    display: none;
  }
}

.page-numbers a,
.page-numbers span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76rem;
  height: 47rem;
  border: 1px solid #8e8e8e;
  border-radius: 3rem;
  border-radius: 40rem;
  color: #8e8e8e;
  text-decoration: none;
  font-size: r(18);
  font-family: var(--fontEnglish);
}

.page-numbers .current {
  border-color: var(--colorKey);
  background-color: var(--colorKey);
  color: #fff;
}

.page-numbers .next {
  padding: .5rem .75rem;
}

.page-numbers.dots {
  margin: 0 auto;
  border: none;
}
