@use '../../foundation/index' as *;

// セクション
.section {
  position: relative;
}

.section__title {
  color: var(--colorTitle);
  font-weight: 300;
  font-size: 70rem;
  font-family: var(--fontTitle);
  line-height: 1;

  @include media() {
    font-size: 53rem;
  }

  // em {
  //   line-height: 1.25;

  //   &::before,
  //   &::after {
  //     content: '';
  //     display: block;
  //     width: 0;
  //     height: 0;
  //   }

  //   &::before {
  //     margin-top: calc((1 - 1.25) * .5em);
  //   }

  //   &::after {
  //     margin-bottom: calc((1 - 1.25) * .5em);
  //   }
  // }
}

.page__main {
  @include media() {
    display: flex;
    flex-direction: column;
  }
}
