@use '../foundation/index' as *;

.footer {
  margin-top: 120rem;
  background-color: var(--colorBase);
}

.footer__contact {
  padding-top: 80rem;
  background-color: #ebebeb;
  background-image: url(../image/bg_footer-contact.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  @include media() {
    padding-top: 140rem;
    background-image: url(../image/bg_footer-contact_sp.jpg);
  }

  .section__text {
    @include font_r;
  }
}

.footer__contact-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30rem;
  padding-top: 1px;
  width: r(280, 200);
  height: r(49, 30);
  border-radius: 100rem;
  background-color: var(--colorKey);
  color: #fff;
  font-style: normal;

  @include font_m;
  @include media() {
    width: 311rem;
    height: 88rem;
    font-size: r(26);
  }
}

.footer__button-area {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 1190rem;
  transform: translateY(50%);

  @include media() {
    flex-direction: column;
    gap: 30rem;
    width: 583rem;
    transform: translateY(77rem);
  }
}

.footer__button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 583rem;
  height: 131rem;
  border-radius: 20rem;
  background-color: #7e6d66;
  transition: .4s;

  @include hover {
    // filter: brightness(1.2);
    background-color: #b69f96;
    opacity: 1;
  }
  @include media() {
    height: 154rem;
    font-size: r(26);
  }

  p {
    display: flex;
    align-items: baseline;
    gap: 19rem;
    color: #fff;
    letter-spacing: .02em;
    font-size: r(40, 22);
    line-height: 1;
    // font-weight: var(--weightMedium);

    @include font_m;
  }

  em {
    font-style: normal;
    font-size: r(20);

    @include media() {
      font-size: r(26);
    }
  }

  span {
    margin-top: .3em;
    color: #fff;
    font-size: r(16, 10);

    @include media() {
      font-size: r(20);
    }
  }

  &.is-tel {
    background-color: var(--colorKey);

    @include hover {
      background-color: #f1ad72;
    }

    em,
    p {
      font-weight: var(--weightMediumE);
      font-family: var(--fontEnglish);
    }
  }

  &.is-mail {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 40rem;
      width: .65em;
      height: .65em;
      border: 2rem solid #fff;
      border-top: 0;
      border-left: 0;
      font-size: 20rem;
      transform: translateY(-80%) rotate(45deg);
    }
  }
}


.footer__inner {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  justify-content: center;
  gap: 280rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 140rem;
  padding-bottom: 80rem;
  // max-width: 1300px;
  // width: 94%;

  @include media() {
    gap: 0;
    padding-top: 170rem;
    padding-bottom: 0;
  }
}


.footer__address {
  @include media() {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80rem;
    color: var(--colorText);
  }
}

.footer__logo {
  display: block;
  margin-bottom: 42rem;
  width: 358rem;

  @include media() {
    margin-bottom: 100rem;
    width: 400rem;
  }
}

.footer__description {
  @include media() {
    font-size: r(20);
  }
}

.footer__address-zip {
  display: block;
  margin-bottom: 10rem;
  line-height: 1.875;

  @include media() {
    margin-top: 60rem;
    text-align: center;
    font-size: r(20);
  }

  a {
    pointer-events: none;

    @include media() {
      text-decoration: underline;
      font-size: r(22);
      pointer-events: all;
    }
  }
}

.footer__address-tel {
  display: flex;
  // flex-direction: column;
  gap: 45rem;
  font-size: r(14, 10);

  @include media() {
    margin-top: 40rem;
  }

  span {
    line-height: 1;
  }

  a {
    pointer-events: none;

    @include media() {
      text-decoration: underline;
      pointer-events: all;
    }
  }
}


.footer__nav {
  padding-top: 30rem;
  max-width: 621px;
  width: 40%;

  @include media() {
    padding: 70rem 0 70rem 84rem;
    max-width: none;
    width: 100%;
    background-color: #e8ded3;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;

  row-gap: 26rem;
}

.footer__nav-item {
  width: 33.333%;

  @include media() {
    width: 50%;
  }

  a {
    font-size: r(16, 10);

    @include media() {
      display: flex;
      align-items: center;
      gap: 19rem;
      color: var(--colorText);
      font-size: r(22);

      &::before {
        content: '';
        display: block;
        width: 32rem;
        height: 32rem;
        background-image: url(../image/arrow_footer-nav.svg);
        background-size: 100% 100%;
      }
    }
  }
}


.footer__bottom {
  display: flex;
  justify-content: center;
  padding: 21rem 0 17rem;
  width: 100%;
  background-color: #d3cbc0;

  @include media() {
    background-color: #7e6d66;
  }

  small {
    color: var(--colorText);
    letter-spacing: .06em;
    font-weight: var(--weightLightE);
    font-size: r(13);
    font-family: var(--fontEnglish);

    @include media() {
      color: #fff;
    }
  }
}

// アーカイブページ、トップページのフッター位置調整
.page__main:has(.archive-topics) + .footer,
.page__main:has(.page-price) + .footer,
.page__main:has(.page-office) + .footer,
.home .footer {
  @include media() {
    margin-top: 0;
  }
}
