@use '../foundation/index' as *;

.header {
  @include media() {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    background: #f8eee2;
  }
}

// 説明文
.header__description {
  display: flex;
  align-items: center;
  padding-left: 42rem;
  width: 100%;
  height: 48rem;
  background-color: #d9c8b9;
  color: #fff;
  font-size: r(20, 10);
}

// ヘッダー上部
.header__inner {
  display: flex;
  justify-content: space-between;
  // padding-left: 120rem;
  padding-left: 4.66666667vw;

  @include media() {
    position: relative;
    padding-left: 0;
  }
}

// ロゴ
.header__logo {
  padding-top: 32rem;
  // padding-bottom: 36rem;
  width: r(348, 200);

  @include media() {
    position: relative;
    z-index: 15;
    // margin-top: 48rem;
    margin-top: 19rem;
    margin-bottom: 24rem;
    margin-left: 39rem;
    padding: 0;

    img {
      width: auto;
      height: 72rem;

      .is-open & {
        filter: brightness(0) invert(1);
      }
    }
  }
}

// 上部右（スマホ時はナビ）
.header__container {
  @include media() {
    position: fixed;
    top: 48rem;
    left: 0;
    z-index: 10;
    // display: none;
    display: flex;
    visibility: hidden;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 43rem;
    margin-top: 0;
    padding: 0;
    padding-top: 130rem;
    width: 100vw;
    height: calc(100vh - 48rem);
    height: calc(100dvh - 48rem);
    background-color: rgba(239, 141, 55, .96);
    opacity: 0;
    transition: .4s;
    pointer-events: none;

    .is-open & {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.header__container-inner {
  display: flex;
  flex-direction: column-reverse;

  @include media() {
    display: flex;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
    gap: 43rem;
    padding-bottom: 100rem;
  }
}

.header__contact {
  display: flex;
  justify-content: flex-end;
  gap: 43rem;
  padding-top: 16rem;
  padding-right: 23rem;

  @include media(sm) {
    gap: 28rem;
  }
  @include media() {
    flex-direction: column;
    //gap: 10rem;
    padding: 0;
    width: 600rem;
  }
}

a.header__contact-tel {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10rem;
  color: var(--colorKey);
  font-size: r(30, 20);
  font-family: var(--fontEnglish);
  line-height: 1;
  pointer-events: none;

  @include media(sm) {
    height: 136rem;
  }
  @include media() {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    //height: 90rem;
    border: 2rem solid;
    border-radius: 20rem;
    color: #fff;
    letter-spacing: .02em;
    pointer-events: all;
    //padding: 14rem;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 60rem;
      display: block;
      width: 14rem;
      height: 14rem;
      border: 1px solid;
      border-top: 0;
      border-left: 0;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  strong {
    font-weight: var(--weightMediumE);
  }

  span {
    margin-right: r(25);
    font-size: r(20);
    // font-weight: var(--weightMedium);

    @include font_m;
  }

  em {
    color: #a7927d;
    font-style: normal;
    font-size: r(12, 10);

    @include media() {
      color: inherit;
      font-size: r(20);
    }
  }
}

.header__contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-top: 1px;
  padding: 1px r(40) 0;
  min-width: r(188);
  height: r(55, 30);
  border-radius: 100rem;
  background-color: var(--colorKey);
  color: #fff;
  line-height: 1;

  @include media(sm) {
    height: 136rem;
  }
  @include media() {
    position: relative;
    //height: 90rem;
    border-radius: 20rem;
    background-color: #fff;
    color: var(--colorKey);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 60rem;
      display: block;
      width: 14rem;
      height: 14rem;
      border: 1px solid;
      border-top: 0;
      border-left: 0;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

// ナビ
.header__nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 20rem;
  // padding-top: 20rem;
  padding-right: 68rem;
  padding-bottom: 20rem;

  @include media() {
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--colorText);
    // font-weight: var(--weightBold);

    @include font_m;
    @include media() {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: .65em 0;
      padding-left: 18rem;
      border-bottom: 2rem solid;
      color: #fff;
      font-size: r(20);
      line-height: 1.4;
      // font-weight: var(--weightRegular);

      @include font_r;

      &::before {
        content: attr(data-subtitle);
        display: block;
        margin-left: .2em;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: r(10, 1);
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 35rem;
        display: block;
        width: .5em;
        height: .5em;
        border: 1px solid;
        border-top: 0;
        border-left: 0;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
    @include media(sm) {
      font-size: r(30);

      &::before {
        font-size: r(14, 8);
      }
    }

    &[data-current='service'] {
      &::after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  .is-sub-open {
    & > a {
      border-bottom: 0;

      &::after {
        transform: translateY(-50%) rotate(225deg);
      }
    }
  }
}

.header__nav-list {
  display: flex;
  gap: 55rem;

  @include media() {
    flex-direction: column;
    gap: 0;
    width: 590rem;
  }
}

.header__nav-item {
  @include media() {
    &:nth-child(5) {
      order: 6;
    }
  }
}






// ボタン
.header__nav-button-area {
  position: absolute;
  top: 48rem;
  right: 0;
  z-index: 20;
}

.header__nav-button {
  height: 100%;

  img {
    max-width: none;
    width: auto;
    height: 15.33333333vw;
  }

  .is-open & {
    display: none;
  }
}

.header__nav-button-close {
  display: none;

  .is-open & {
    display: block;
  }
}

.header__contact-address {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;

  span {
    @include media(sm) {
      font-size: r(20);
    }
    @include media() {
      font-size: r(12);
    }
  }

  em {
    font-style: normal;

    @include media(sm) {
      font-size: r(22);
    }
    @include media() {
      font-size: r(12);
    }
  }

  a {
    padding-top: .5em;
    text-decoration: underline;

    @include media(sm) {
      font-size: r(20);
    }
    @include media() {
      font-size: r(12);
    }
  }
}


// ローディング
/* Loading背景画面設定　*/

.home {
  background-color: var(--colorKey);

  &.is-loaded {
    background-color: #fff;
  }
}

.home .header,
.home .main {
  //background-color: #fff;
}

.home .main {
  padding-bottom: 120rem;

  @include media() {
    padding-bottom: 0;
  }
}

.home .footer {
  margin-top: 0;
}

#splash {
  /*fixedで全面に固定*/
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--colorKey);
  color: #fff;
  text-align: center;

  img {
    position: relative;
    top: -54rem;
    width: 190rem;
    height: 265rem;
    object-fit: contain;
  }
}

/* Loadingバー中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  color: #fff;
  transform: translate(-50%, -50%);

  svg {
    margin-right: auto;
    margin-left: auto;
    width: 186rem !important;
  }
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg {
  height: 2px;
}



// 開閉ナビ（スマホ）
.header__nav-sub {
  display: none;

  @include media() {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 12rem 10rem;
    height: 0;
    opacity: 0;
    transition: .3s ease;

    .is-sub-open & {
      padding-bottom: 45rem;
      height: auto;
      border-bottom: 1px solid #fff;
      opacity: 1;
    }
  }
}

.header__nav-sub-item a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 0 !important;
  width: 290rem;
  height: 99rem;
  border: 1px solid;
  border-radius: 10rem;
  background-color: rgba(255, 255, 255, .08);
  font-size: r(24) !important;

  @include font_m;

  span {
    display: block;
    white-space: nowrap;
    font-size: r(20, 10);

    font-feature-settings: 'palt';
  }

  &::after {
    display: none !important;
  }
}

.header__nav-sub-item.is-all {
  width: 100%;

  a {
    width: 100%;
    background-color: #fff;
    color: var(--colorKey);
  }
}


// 開閉ナビ（PC）
.is-sub-nav {
  position: relative;

  @include media(pc_only) {
    .header__nav-sub {
      position: absolute;
      bottom: -40rem;
      left: 50%;
      z-index: 10;
      display: flex;
      flex-wrap: wrap;
      gap: 12rem 10rem;
      padding: 54rem;
      width: 674rem;
      height: auto;
      border-bottom: 1px solid #fff;
      border-radius: 13rem;
      background-color: var(--colorKey);
      color: #fff;
      opacity: 1;
      transform: translateY(100%) translateX(-50%);

      &::before {
        content: '';
        position: absolute;
        top: 5rem;
        left: 50%;
        display: block;
        width: 22rem;
        height: 19rem;
        background-color: var(--colorKey);
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        transform: translateY(-100%) translateX(-50%);
      }

      & {
        opacity: 0;
        transition: .4s;
        pointer-events: none;
      }
    }

    &.is-sub-open {
      .header__nav-sub {
        opacity: 1;
        pointer-events: all;
      }
    }

    .header__nav-sub-item {
      position: relative;

      &:nth-child(-n+5) {
        a {
          position: relative;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          margin: 0;
          padding-left: 90rem !important;
          height: 87rem;
          background-color: #fff;
          color: var(--colorKey);
          line-height: 1.4;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 15rem;
            display: block;
            width: .5em;
            height: .5em;
            border: 1px solid;
            border-top: 0;
            border-left: 0;
            transform: translateY(-50%) rotate(-45deg);
          }
        }

        &::before {
          content: '';
          position: absolute;
          // top: 50%;
          top: 13rem;
          left: 15rem;
          z-index: 10;
          display: block;
          width: 60rem;
          height: 60rem;
          border-radius: 100%;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          // transform: translateY(-50%);
        }
      }

      &.is-all {
        &::before {
          content: none;
        }

        a {
          align-items: center;
          padding-left: 0 !important;
          width: 100%;
          border: 1px solid #fff;
          background-color: transparent;
          color: #fff;
          font-size: r(16, 14) !important;
        }
      }

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 2;

        &::before {
          background-image: url('../image/photo_nav-pc_01.jpg');
        }
      }

      &:nth-child(3) {
        order: 4;

        &::before {
          background-image: url('../image/photo_nav-pc_03.jpg');
        }

        span {
          display: none;
        }

        a::after {
          content: '（残業・不当解雇・労災）' !important;
          display: block !important;
          font-size: r(12, 9);

          font-feature-settings: 'palt';
        }
      }

      &:nth-child(4) {
        order: 3;

        &::before {
          background-image: url('../image/photo_nav-pc_02.jpg');
        }
      }

      &:nth-child(5) {
        order: 5;
        margin-bottom: 40rem;

        &::before {
          background-image: url('../image/photo_nav-pc_04.jpg');
        }
      }

      &:nth-child(n+6) {
        order: 6;
      }

      a {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        margin: 8rem 0;
        width: 278rem;
        height: auto;
        border: 0;
        background-color: transparent;
        color: #fff;
        white-space: nowrap;
        font-size: r(14, 11) !important;

        &::before {
          content: '-';
          margin-right: .25em;
        }

        span {
          font-size: r(12, 9) !important;
        }
      }
    }
  }
}





// フローティングヘッダー
.floating-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  border-bottom: 2px solid var(--colorKey);
  background-color: #fff;
  transition: .3s;

  & {
    transform: translateY(-150%);
  }

  .is-float & {
    transform: translateY(0);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 98rem;
  }

  .header__inner {
    width: 100%;
  }

  .header__logo {
    padding-top: 0;
  }

  .header__contact {
    display: none;
  }
}

.is-no-float .is-sub-nav.is-sub-open .header__nav-sub {
  opacity: 0 !important;
  pointer-events: none !important;
}
