@use '../../foundation/index' as *;

.page-about-us {
  @include media() {
    margin-top: 80rem;
  }
}

.section.about__philosophy {
  position: relative;
  z-index: 2;
  padding-top: 80rem;
  padding-bottom: 160rem;

  @include media(mx) {
    padding-bottom: 8%;
  }
  @include media() {
    padding-bottom: 160rem;
  }

  &::before {
    // top: -80rem;
    top: 0;

    @include media(mx) {
      top: 0;
      font-size: r(110);
    }
  }
}

.about__philosophy-copy {
  color: var(--colorText);
  letter-spacing: .02em;
  font-size: r(26);
  font-family: var(--fontMincho);

  @include media(mx) {
    line-height: 2.11538462;
  }
  @include media(xl) {
    font-size: r(24);
  }
  @include media() {
    text-align: center;
    font-size: r(28);
    line-height: 2.35714286;
    // font-family: var(--fontGothic);

    @include font_r;
  }
}

.about__philosophy-image {
  display: block;
  margin: 72rem auto 0;
  width: 1104rem;
  border-radius: 30rem;

  @include media(xl) {
    margin-right: auto;
    margin-left: auto;
    width: 852rem;
  }
}

.about__feature {
  @include media() {
    z-index: 2;
    padding-right: 30rem;
    padding-left: 30rem;
    border-radius: 50rem 50rem 0 0 !important;
  }
}

.about__feature-container {
  counter-reset: number 0;
  margin-top: 70rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 86%;
  width: 1200rem;

  @include media(mx) {
    max-width: 100%;
    width: 1132rem;
  }
  @include media(xl) {
    width: 881rem;
  }
}

.about__feature-box {
  counter-increment: number 1;
  display: flex;
  justify-content: space-between;
  gap: 30rem;
  padding: 56rem 120rem 56rem 112rem;
  border-radius: 30rem;
  background-color: #e8ded3;

  @include media(xl) {
    margin-right: auto;
    margin-left: auto;
    padding: 37rem;
    // width: 852rem;
  }
  @include media() {
    flex-direction: column-reverse;
    gap: 40rem;
    padding: 47rem 45rem 80rem;
    background-color: var(--colorBase);
  }

  & + & {
    margin-top: 30rem;
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;

    @include media() {
      flex-direction: column-reverse;
    }
  }
}

.about__feature-info {
  width: 428rem;

  @include media() {
    width: 100%;
  }
}

.about__feature-title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20rem;
  color: #7b594b;
  // font-weight: var(--weightMedium);
  font-size: r(24);

  @include font_m;
  @include media() {
    font-size: r(30);
  }

  &::before {
    content: '#'counter(number, decimal-leading-zero);
    display: block;
    margin-right: 18rem;
    color: var(--colorKey);
    font-weight: var(--weightMediumE);
    font-size: r(40);
    font-family: var(--fontEnglish);

    @include media() {
      content: counter(number, decimal-leading-zero);
      margin-right: 40rem;
      padding-left: .4em;
      font-size: r(63);
      // font-family: var(--fontGothic);

      @include font_r;
    }
  }

  &::after {
    content: 'Feature';
    position: absolute;
    top: 0;
    left: 0;
    color: var(--colorKey);
    text-transform: uppercase;
    font-size: r(10, 10);
    font-family: var(--fontEnglish);
    transform: translateY(-50%);
    // @include media(mx) {
    //   font-size: r(12);
    // }

    @include media() {
      content: '#';
      font-size: r(29);
      transform: translateY(80%);
    }
  }
}

.about__feature-text {
  @include font_l;
  @include media() {
    color: var(--colorText);
    font-size: r(26);
    line-height: 2;
  }

  em {
    color: var(--colorKey);
    font-style: normal;
  }
}

.about__feature-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30rem;
  padding: 0 50rem;
  min-width: 242rem;
  width: fit-content;
  height: 55rem;
  border-radius: 100rem;
  background-color: var(--colorKey);
  color: #fff;

  @include media() {
    margin-top: 50rem;
    min-width: 404rem;
    height: 93rem;
    font-size: r(26);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20rem;
    display: block;
    width: .5em;
    height: .5em;
    border: 1px solid;
    border-top: 0;
    border-left: 0;
    transform: translateY(-50%) rotate(-45deg);

    @include media() {
      right: 40rem;
    }
  }
}

.about__feature-photo {
  width: 430rem;

  @include media() {
    width: 100%;
  }

  img {
    width: 100%;
    border-radius: 18rem;
  }
}

.about__lawyer {
  @include media() {
    z-index: 2;
    padding-right: 30rem;
    padding-bottom: 0 !important;
    padding-left: 30rem;
  }
}

.about__lawyer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70rem;
  margin-right: auto;
  margin-left: auto;
  padding: 105rem 7.61904762% 115rem;
  // padding: 105rem 128rem 115rem;
  max-width: 86%;
  width: 1360rem;
  border-radius: 37rem;
  background-color: #e8ded3;

  @include media(mx) {
    margin-left: 86rem;
    padding: 105rem 50rem 50rem;
    // width: 1136rem;
    width: 85.62783661%;
  }
  @include media(xl) {
    margin-right: auto;
    margin-left: auto;
    padding-right: 42rem;
    padding-left: 42rem;
    // width: 1000rem;
  }
  @include media() {
    margin-right: auto;
    margin-left: auto;
    padding: 45rem;
    max-width: 100%;
    width: 690rem;
  }
}

.about__lawyer-photo {
  width: 385rem;
  width: 34.7%;

  @include media(mx) {
    width: 37.3%;
  }
  @include media() {
    width: 100%;
  }

  img {
    width: 100%;
    border-radius: 20rem;

    @include media() {
      height: 637rem;
      object-fit: cover;
      object-position: top center;
    }
  }
}

.about__lawyer-info {
  width: 597rem;
  width: 56.4%;

  @include media(mx) {
    width: 57.8%;
  }
  // @include media(xl) {
  //   width: 460rem;
  // }
  @include media() {
    margin-top: 60rem;
    width: 600rem;
  }
}

.about__lawyer-name {
  padding-bottom: 30rem;
  border-bottom: 1px solid #7e6d66;
  font-size: r(30);

  @include media() {
    font-size: r(38);
  }

  strong {
    display: block;
    margin-bottom: 30rem;
    color: var(--colorKey);
    letter-spacing: .05em;
    font-size: r(14);

    @include font_m;
    @include media() {
      margin-bottom: 0;
      font-size: r(22);
    }
  }

  em {
    display: flex;
    align-items: center;
    letter-spacing: .25em;
    font-style: normal;
  }

  span {
    margin-left: 40rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: r(12, 12);

    @include media() {
      font-size: r(20);
    }
  }
}

.about__lawyer-text {
  margin-top: 50rem;
  color: #7b594b;

  @include media() {
    margin-top: 80rem;
  }

  h4 {
    letter-spacing: .05em;
    font-size: r(20);

    @include font_m;
    @include media() {
      font-size: r(34);
    }

    + p {
      margin-top: 20rem;

      @include media() {
        margin-top: 30rem;
      }
    }
  }

  p {
    letter-spacing: .02em;
    // font-weight: var(--weightLight);
    line-height: 1.875;

    @include font_l;

    + h4 {
      margin-top: 50rem;
    }
  }
}

.about__lawyer-history {
  margin-top: 24rem;
  width: 100%;

  @include media() {
    margin-top: 90rem;
  }
}

.about__lawyer-title {
  color: var(--colorKey);
  font-size: r(24);
  // font-weight: var(--weightMedium);

  @include font_m;
  @include media() {
    padding: 60rem 0;
    border-top: 1px solid #7e6d66;
    color: #7b594b;
    text-align: center;
    letter-spacing: .05em;
    font-size: r(36);
  }

  em {
    letter-spacing: .05em;
    font-weight: var(--weightMediumE);
    font-style: normal;
    font-family: var(--fontEnglish);
  }

  span {
    margin-left: 20rem;
    font-size: r(12, 12);

    @include media() {
      display: block;
      margin-left: 0;
      font-size: r(24);
    }

    &::before {
      content: '/';
      margin-right: 15rem;

      @include media() {
        content: none;
      }
    }
  }
}

.about__lawyer-data {
  margin-top: 30rem;
  padding: 50rem 80rem;
  width: 100%;
  border-radius: 30rem;
  background-color: var(--colorBase);
  column-count: 2;

  @include media(xl) {
    padding: 50rem 30rem;
  }
  @include media() {
    margin-top: 0;
    padding: 0;
    background-color: transparent;
    font-size: r(24);
    column-count: auto;
  }

  dl {
    display: flex;
    align-items: baseline;
    max-width: 100%;
    width: 436rem;

    @include media(xl) {
      width: 400rem;
    }
    @include media() {
      align-items: stretch;
      padding: 36rem 0;
      width: 100%;
      border-top: 1px solid #7e6d66;

      &:last-of-type {
        dt {
          justify-content: flex-start;
        }
      }
    }

    + dl {
      margin-top: 30rem;

      @include media() {
        margin-top: 0;
      }
    }
  }

  dt {
    width: 100rem;
    color: #7b594b;
    font-weight: normal;

    @include font_m;
    @include media(xl) {
      width: 80rem;
    }
    @include media() {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 174rem;
    }
  }

  dd {
    // width: 336rem;
    width: calc(100% - 100rem);

    @include font_l;
    @include media(xl) {
      width: 240rem;
    }
    @include media() {
      width: calc(100% - 174rem);
    }

    em {
      display: block;
      color: #7b594b;
      font-style: normal;
      font-size: r(20);
    }

    span {
      display: block;
      margin: 10rem 0;
      color: #716c6c;
      letter-spacing: .02em;
      // font-weight: var(--weightLight);
      font-size: r(12, 12);

      @include font_l;
      @include media() {
        margin-bottom: 40rem;
        font-size: r(20);
      }
    }
  }
}
