@use '../../foundation/index' as *;

.post_main {
  @extend %block;
}

.topics__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // gap: 96rem;
  gap: 7.05882353%;
  margin: 40rem auto 0;
  // width: 1360rem;
  max-width: 86%;
  width: 1360rem;

  @include media(mx) {
    width: 1136rem;
  }
  @include media(xl) {
    gap: 20rem;
    max-width: 96%;
  }
  @include media() {
    flex-direction: column;
    max-width: 100%;
  }
}

.archive-topics {
  & .section {
    min-height: 1300rem;

    @include media() {
      padding-bottom: 0;
      min-height: auto;
    }
  }

  & .section__copy {
    @include media() {
      width: 630rem;
    }
  }

  & .topics__content {
    margin-top: 90rem;
  }
}

.archive__section {
  @include media() {
    margin-top: 0 !important;
    padding-right: 30rem;
    padding-left: 30rem;
  }
}

.archive__container {
  max-width: 75%;
  width: 1020rem;

  @include media(mx) {
    width: 852rem;
  }
  @include media(xl) {
    width: 70%;
  }
  @include media() {
    margin-top: 90rem;
    margin-left: calc(50% - 50vw);
    padding: 50rem 0 105rem;
    max-width: none;
    width: 100vw;
    border-radius: 30rem 30rem 0 0;
    background-color: #e8ded3;

    .page__parent-service & {
      margin-left: 0;
    }
  }
}

.archive__list {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: 0;

  @include media() {
    gap: 26rem;
    margin: 0 auto;
    width: 690rem;
  }
}

.section ul.archive__list {
  margin-top: 0;
}

.archive__item {
  overflow: hidden;
  border-radius: 20rem;

  &::before {
    display: none;
  }
}

.archive__item-link {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40rem;
  padding: 23rem 80rem 25rem 30rem;
  background-color: #fff;

  @include media() {
    align-items: stretch;
    padding: 40rem 28rem 40rem 45rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 35rem;
    display: block;
    width: 13rem;
    height: 13rem;
    border: 1px solid var(--colorKey);
    border-right: 0;
    border-bottom: 0;
    transform: rotate(135deg) translateX(-50%);

    @include media() {
      display: none;
    }
  }

  &.no-arrow {
    &::after {
      display: none;
    }
  }
}

.archive__item-image {
  overflow: hidden;
  min-width: 241rem;
  min-height: 159rem;
  width: 241rem;
  height: 159rem;
  object-fit: cover;
  border-radius: 10rem;

  place-items: center;
  @include media(xl) {
    min-width: 241rem;
    min-height: 159rem;
    width: 241rem;
    height: 159rem;
  }
  @include media() {
    min-width: 172rem;
    min-height: 160rem;
    width: 172rem;
    height: 160rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  & .archive__item-noimage {
    display: block;
    margin: auto;
    width: 70%;
    // width: 100%;
    object-fit: contain;
  }


  &:has(.archive__item-noimage) {
    background-color: var(--colorBase);
  }
}

.archive__item-content {
  display: flex;
  flex-direction: column;
  max-width: 60.78431373%;
  width: 620rem;

  @include media(mx) {
    width: 480rem;
  }
  @include media(xl) {
    width: 55%;
  }
  @include media() {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 410rem;
  }
}

.archive__item-date {
  // font-family: var(--fontGothic);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #8e8e8e;
  letter-spacing: .08em;
  // font-weight: var(--weightMedium);
  font-size: r(12, 12);
  column-gap: 20rem;

  @include font_m;
  @include media() {
    font-size: r(20);
  }
}

.taxonomy-news {
  background-color: var(--colorKey);
}

.taxonomy-other {
  background-color: #b27538;
}

.archive__item-taxonomy {
  // margin-left: 20rem;
  display: flex;
  padding: 3rem 10rem;
  width: fit-content;
  border-radius: 12rem;
  color: #fff;
  letter-spacing: .05em;
  // font-weight: var(--weightMedium);
  // font-family: var(--fontGothic);

  @include font_m;
  @include media() {
    margin-left: 0;
    padding: 7rem 20rem;
    border-radius: 20rem;
    line-height: 1;
  }
}

.archive__item-title {
  margin-top: 16rem;
  width: 513rem;
  color: var(--colorText);
  letter-spacing: .08em;
  font-size: r(18);
  line-height: 1.3888;
  // font-weight: var(--weightMedium);

  @include font_m;
  @include media() {
    margin-top: 0;
    width: 100%;
    letter-spacing: .03em;
    font-size: r(26);
  }
}

.archive__item-text {
  margin-top: 18rem;
  color: #333;
  letter-spacing: .03em;
  font-size: r(12, 12);
  line-height: 1.666;
}
