@use '../../foundation/index' as *;

#toc_container {
  padding: 20px 40px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #fafafa;
  color: #7b594b;

  @include media() {
    padding: 20px 15px;
  }
}

#toc_container p.toc_title {
  padding-bottom: 10px;
  border-bottom: 1px solid #7b594b;
  text-align: left;
  font-size: 20px;

  @include media() {
    font-size: 15px;
  }
}

.single__content {
  @include media() {
    margin-left: calc(50% - 50vw + 30rem);
    max-width: none;
    width: 690rem;
  }
}

.section h3.wp-block-heading {
  margin-top: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid #7b594b;
  color: #7b594b;
  letter-spacing: .05em;
  font-size: 18px;
  font-family: 'A1ゴシック M', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;

  @include media() {
    font-size: 14px;
  }
}

.section h2.wp-block-heading {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 4px 0 0 10px;
  border-left: 3px solid #7b594b;
  background: #f7f7f7;
  color: #7b594b;
  letter-spacing: .05em;
  font-size: 22px;
  font-family: 'A1ゴシック M', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;
  line-height: 1.8;

  @include media() {
    font-size: 16px;
  }
}

.section h4.wp-block-heading {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #7b594b;
  letter-spacing: .05em;
  font-size: 18px;
  font-family: 'A1ゴシック M', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;
  line-height: 2;

  @include media() {
    font-size: 15px;
  }

  &:before {
    content: '●';
    font-size: 14px;
  }
}

.wp-block-image img {
  border-radius: 10px;
}

.single__content .su-posts-default-loop .su-post {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px 25px;
  border-radius: 10px;
  background: #fafafa;

  @include media() {
    padding: 15px 15px;
  }
}

.su-posts-default-loop a.su-post-thumbnail {
  width: 150px;
  height: 110px;

  @include media() {
    width: 100px;
    height: 80px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.su-posts-default-loop .su-post .su-post-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  color: #8e8e8e;
  font-size: 12px;
  font-family: 'A1ゴシック M', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;
  opacity: 1;
}

.su-post-meta .archive__item-taxonomy {
  display: inline-block;
  margin-bottom: 1px;
  padding: 2px 8px 0;
  background: #b27538;
  font-size: 10px;
  font-family: 'A1ゴシック M', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;

  @include media() {
    padding: 3px 8px 2px;
  }
}

.su-post-title {
  color: #7b594b;
  font-size: 18px;
  font-family: 'A1ゴシック M', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;

  @include media() {
    font-size: 15px;
  }
}

.wp-block-list {
  padding: 30px;
  background: #fafafa;

  @include media() {
    padding: 20px;
  }

  li {
    margin-top: 12px;
    font-size: 16px;
    font-family: 'A1ゴシック L', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;

    @include media() {
      font-size: 15px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:before {
      display: inline-block;
      color: #7b594b;
      font-size: 30px;
      line-height: 1;
      transform: translateY(5px);
    }
  }
}

.section .wp-block-table table {
  width: 100%;
  table-layout: fixed;
  text-align: center;

  // &.is-text-left {
  // 	text-align: left;
  // }

  & + & {
    margin-top: 30rem;
  }

  th,
  td {
    padding: 10rem 40rem;
    border: 2px solid #fff;
    vertical-align: middle;

    @include media() {
      padding: 27rem 20rem;
      border: 2px solid var(--colorBase);
      font-size: r(23);
    }
  }

  th {
    background-color: #b5aaa1;
    color: #fff;
    text-align: inherit;
    // font-weight: var(--weightMedium);

    @include font_m;
  }

  td {
    background-color: #e6e6e6;

    @include media() {
      background-color: #e3dcd8;
      vertical-align: middle;
    }

    span {
      display: block;
      font-size: .75em;
    }
  }

  &.is-special {
    tbody th {
      background-color: #c1c1c1 !important;
      color: var(--colorBlack);
    }

    td {
      padding: 20rem 10rem;
      background-color: #e6e6e6;
    }

    td[rowspan='2'] {
      vertical-align: middle;
    }
  }
}
