@use '../../foundation/index' as *;

.contact-top {

	@include media() {
		padding-top: 45px;
	}

	.section__title {
		font-size: r(30);

		@include media() {
			font-size: r(38);
		}
	}

	&__content {
		margin-top: 90rem;
		margin-right: auto;
		margin-left: auto;
		width: r(975, 500);

		@include media() {
			margin-top: 30px;
		}
	}

	&__content-inner {
		margin-top: 80rem;
		padding: 43rem 73rem;
		width: 100%;
		max-width: r(975, 500);
		border-radius: 20rem;
		background-color: #fff;
		color: #393939;
		letter-spacing: 0.02em;
		font-weight: var(--weightLight);
		font-size: clamp(10px, 10vw / var(--board) * 10 * 16, 16px);
		line-height: 1.875;
		display: flex;
		justify-content: center;
		align-items: center;

		@include media() {
			flex-direction: column;
			padding: 25px 0;
		}
	}

	&__header {
		flex: 1 1 50%;
		font-size: r(22, 16);
		color: var(--colorKey);
		font-weight: var(--weightBold);

		@include media() {
			font-size: 12px;
		}
	}

	&__body {
		flex: 1 1 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: var(--colorText);
		font-weight: var(--weightMedium);


		&-tel {
			font-size: r(33, 26);
			font-family: var(--fontEnglish);
			line-height: 1;

			@include media() {
				font-size: 23px;
			}

		}

		&-text {
			font-size: r(14, 10);

			@include media() {
				margin-top: 8px;
				font-size: 11px;
			}
		}
	}
}


.contact-form {

	&__wrap {
		width: r(1360);
		margin: 64rem auto 0;
		padding: 74rem 200rem 160rem;
		background: #E8DED3;
		border-radius: 37rem;

		@media screen and (max-width: 1680px) {
			padding-left: 120rem;
			padding-right: 120rem;
		}

		@media screen and (max-width: 1360px) {
			width: r(1500);
		}

		@include media() {
			width: calc(100% + 30px);
			max-width: unset;
			margin: 0 -15px;
			padding: 0px 22px 45px;
			border-radius: 10px;
			background: #F8EEE2;
			margin-top: 50px;
		}
	}

	&__row {
		padding: 50rem 0;
		display: flex;
		border-bottom: dashed 1px #777;

		@media screen and (max-width: 1024px) {
			flex-direction: column;
		}
	}

	&__col-head {
		flex: 1 0 180rem;

		@media screen and (max-width: 1500px) {
			flex: 1 0 300rem;
		}

		@media screen and (max-width: 1024px) {
			flex: 1;
		}
	}

	&__title {
		font-size: r(16, 14);
		color: var(--colorText);
		font-weight: var(--weightMedium);
		font-family: 'A1ゴシック M', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;

		.required {
			display: block;
			color: #F26868;
			font-size: r(12, 11);
			font-family: 'A1ゴシック R', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;
		}
	}

	&__col-body {
		flex: 1 1 100%;
		padding-left: 80rem;

		@media screen and (max-width: 1024px) {
			padding-left: 0;
			padding-top: 26px;
		}

		@include media() {
			padding-left: 0;
		}
	}

	&__col-bottom {
		margin-top: 8px;
		font-size: 10px;
	}

	&__privacy {
		background: #fff;
		border: 1px solid #777;
		padding: 20rem 30rem;
		font-size: 10px;
		height: 116px;
		overflow-y: scroll;
	}

	&__button-area {
		margin-top: 50rem;
	}
}

.wpcf7-checkbox,
.wpcf7-radio {
	display: flex;
	flex-wrap: wrap;
	gap: 12px 20px;

	@include media() {
		gap: 11px 14px;
	}

	&.no-wrap {
		justify-content: center;

		.wpcf7-list-item {
			flex: 0 0 auto;
			margin-top: 35px;

			label {
				border: none;
				background: transparent;
				width: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.wpcf7-list-item-label {
				margin-left: 8px;
			}
		}
	}
}

.wpcf7-list-item {

	flex: 0 0 220px;
	margin: 0;

	@media screen and (max-width: 1024px) {
		flex: 0 0 calc(50% - 10px);
	}

	@include media() {
		flex: 0 0 calc(50% - 7px);
	}

	label {
		border: 1px solid #777;
		background: #fff;
		padding: 8px 16px;
		width: 220px;
		display: inline-block;
		cursor: pointer;

		@media screen and (max-width: 1024px) {
			width: 100%;
		}

		@include media() {
			width: 100%;
		}
	}

	&:last-child:nth-child(odd) {
		@include media() {
			flex: 0 0 100%;
		}
	}
}

.wpcf7-form-control-wrap[data-name="privacy"] {
	text-align: center;
}

.confirm-area__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30rem;
	gap: 20px;

	@include media() {
		flex-direction: column;
		margin-top: 50rem;
	}
}

.confirm-area__button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	//margin-top: 30rem;
	min-width: 242px;
	width: fit-content;
	height: 55px;
	border-radius: 100px;
	background-color: var(--colorKey);
	color: #fff;

	@include media() {
		//margin-top: 50rem;
		min-width: 202px;
		height: 45px;
		font-size: 13px;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 20px;
		display: block;
		width: .5em;
		height: .5em;
		border: 1px solid;
		border-top: 0;
		border-left: 0;
		transform: translateY(-50%) rotate(-45deg);

		@include media() {
			right: 40px;
		}
	}

	&.prev {
		background-color: transparent;
		color: var(--colorKey);
		border: 1px solid var(--colorKey);

		&::after {
			color: var(--colorKey);
		}
	}

	input {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.wpcf7-spinner {
		position: absolute;
		top: -50%;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
	}
}

.contact-form__button-area {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	//margin-top: 30rem;
	min-width: 242px;
	width: fit-content;
	height: 55px;
	border-radius: 100px;
	background-color: var(--colorKey);
	color: #fff;

	margin-left: auto;
	margin-right: auto;

	@include media() {
		//margin-top: 50rem;
		min-width: 202px;
		height: 45px;
		font-size: 13px;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 20px;
		display: block;
		width: .5em;
		height: .5em;
		border: 1px solid;
		border-top: 0;
		border-left: 0;
		transform: translateY(-50%) rotate(-45deg);

		@include media() {
			right: 40px;
		}
	}

	input,
	a {
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.wpcf7-spinner {
		position: absolute;
		top: -50%;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
	}
}

.wpcf7-list-item-label {
	margin-left: 18px;
	font-size: 12px;
	font-family: 'A1ゴシック R', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;

	@include media() {
		margin-left: 8px;
	}
}

.wpcf7-not-valid-tip {
	font-size: 13px;
	margin-top: 6px;
}

.wpcf7 form .wpcf7-response-output {
	border: none;
	text-align: center;
}

.field-group {

	margin-top: 24px;

	&:first-child {
		margin-top: 0;
	}

	&__title {
		font-size: 14px;
		font-weight: var(--weightRegular);
		font-family: 'A1ゴシック R', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Pゴシック', 'MS PGothic', sans-serif;

		.required {
			color: #F26868;
		}
	}


}

input[type="text"],
input[type="email"],
input[type="tel"] {
	border: 1px solid #777;
	background: #fff;
	padding: 8px 16px;
	width: 100%;
	font-size: 16px;
	margin-top: 6px;
}

textarea {
	border: 1px solid #777;
	background: #fff;
	padding: 8px 16px;
	width: 100%;
	font-size: 16px;
}

.button__link.disabled {
	background-color: #ccc;
	pointer-events: none;
}

.confirm-area__wrap {
	width: r(1360);
	margin: 64rem auto 0;
	padding: 74rem 200rem 160rem;
	background: #E8DED3;
	border-radius: 37rem;

	@media screen and (max-width: 1680px) {
		padding-left: 120rem;
		padding-right: 120rem;
	}

	@media screen and (max-width: 1360px) {
		width: r(1500);
	}

	@include media() {
		width: calc(100% + 30px);
		max-width: unset;
		margin: 0 -15px;
		padding: 0px 22px 45px;
		border-radius: 10px;
		background: #F8EEE2;
		margin-top: 50px;
	}
}

.confirm-area {

	&__row {
		display: flex;
		padding: 26px 0;
		border-bottom: dashed 1px #777;

		@media screen and (max-width: 1024px) {
			flex-direction: column;
		}
	}

	&__row-head {
		flex: 1 0 220rem;
		color: var(--colorText);

		@media screen and (max-width: 1500px) {
			flex: 1 0 340rem;
		}

		@media screen and (max-width: 1024px) {
			flex: 1;
		}

		@include media() {
			flex: 1 0 100%;
		}
	}

	&__row-body {
		flex: 1 1 100%;
		padding-left: 80rem;

		@media screen and (max-width: 1024px) {
			flex: 1;
			padding-left: 0;
			padding-top: 4rem;

		}
	}

	&__bottom-message {
		margin-top: 70rem;
		margin-bottom: 60rem;
		text-align: center;
		font-size: 14px;
	}

}