@use '../../foundation/index' as *;

.section {
  @extend %block;
}

// 固定ページ上部MVタイトル

.page__header {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-bottom: 50rem;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    // width: 93.75%;
    // width: calc((100% - 1680rem) / 2 + 1680rem);
    max-width: calc((100% - 1680rem) / 2 + 1680rem);
    width: 95%;
    height: 370rem;
    background-color: var(--colorBase);

    @include media(mx) {
      overflow: hidden;
      max-width: 100%;
      // width: 1322rem;
      width: 97.20588235%;
    }
    @include media(xl) {
      max-width: 100%;
      width: 97.20588235%;
    }
    @include media() {
      display: none;
    }
  }
}

.page__mv {
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 93.75%;
  height: 502rem;
  border-radius: 70rem 0 0 70rem;
  background-color: #eaeaea;

  @include media(mx) {
    width: 1284rem;
  }
  @include media(xl) {
    width: 960rem;
  }
  @include media() {
    width: 96%;
    border-radius: 35rem 0 0 35rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;

    & {
      opacity: .8;
      animation-name: mv-fade;
      animation-duration: 1s;
      animation-timing-function: ease;

      animation-fill-mode: forwards;
    }
  }
}

.page__title-area {
  display: grid;
  height: 519rem;
  background-color: var(--colorBase);

  place-items: center;
}

.page__title {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--colorKey);
  text-transform: uppercase;

  .page__mv & {
    margin-top: -8rem;
    // margin-right: auto;
    // width: 93.33333333%;
    padding-right: calc(100vw - 100%);
    width: 100%;

    // @include media() {
    //   width: 95.83333333%;
    // }
  }

  & em {
    letter-spacing: .04em;
    font-weight: var(--weightMediumE);
    font-style: normal;
    font-size: r(50);
    font-family: var(--fontEnglish);

    &.font-gothic {
      // font-family: var(--fontGothic);
      @include font_r;
    }
  }

  & span {
    letter-spacing: 0;
    font-size: r(18);
    // font-family: var(--fontGothic);
    transform: translateY(-10rem);

    @include font_m;

    &.font-en {
      font-family: var(--fontEnglish);
    }
  }
}

.page__main {
  position: relative;
  z-index: 1;
  // overflow: hidden;
  // padding-top: 80rem;

  // @include media(mx) {
  //   padding-top: 0;
  // }
}
