@use '../../foundation/index' as *;

.page-privacy {
  .section {
    @include media() {
      padding-bottom: 0;
    }
  }
}

.section__privacy {
  margin-right: auto;
  margin-left: auto;
  padding: 90rem 142rem;
  width: 1360rem;
  border-radius: 37rem;
  background-color: #e8ded3;

  @include media() {
    margin-bottom: -120rem;
    padding: 90rem 0 0;
    background-color: transparent;
  }
}

.section__privacy-inner {
  margin-top: 40rem;
  margin-bottom: 90rem;
  padding: 64rem 88rem;
  border-radius: 20rem;
  background-color: #f8eee2;

  @include media() {
    padding: 70rem 0;
  }

  p {
    letter-spacing: .02em;
    font-size: r(16);
    line-height: 1.875;
    // font-weight: var(--weightLight);

    @include font_l;
    @include media() {
      &:first-child {
        color: var(--colorText);
        // font-weight: var(--weightRegular);
        font-size: r(26);
        line-height: 2;

        @include font_r;
      }
    }
    @include media() {
      font-size: r(22);
      line-height: 1.90909091;
    }
  }

  h3 {
    margin-bottom: 1em;
    color: var(--colorKey);
    font-size: r(18);
    // font-weight: var(--weightMedium);

    @include font_m;
    @include media() {
      font-size: r(28);
    }
  }

  .hr-main {
    display: block;
    margin: 40rem 0;
    border-color: #707070;

    @include media() {
      opacity: 0;
    }
  }

  .hr-sub {
    display: block;
    margin: 40rem 0;
    border-style: dashed;
    border-color: #707070;

    @include media() {
      margin: 60rem 0;
      border-style: dotted;
    }
  }
}

.section__site {
  @include media() {
    margin-left: calc(50% - 50vw);
    padding: 96rem 0 1rem;
    max-width: none;
    width: 100vw;
    background-color: #e8ded3;

    .section__privacy-inner {
      margin-right: auto;
      margin-left: auto;
      padding: 60rem 40rem;
      width: 690rem;
    }
  }
}
