@use '../../foundation/index' as *;

.page-service {
	.section {
		@include media() {
			margin-right: auto;
			margin-left: auto;
			padding-right: 0;
			padding-left: 0;
			width: 690rem;
		}

		&:nth-of-type(2n) {
			border-radius: 50rem 0 0 50rem;

			@include media() {
				padding-bottom: 100rem;
				width: 100%;
				border-radius: 30rem;
			}

			&::after {
				content: '';
				right: 1px;
				left: auto;
				transform: translateX(100%);
			}
		}
	}
}

.service__content {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 100rem;
	margin-right: auto;
	margin-left: auto;
	width: 1360rem;

	@media screen and (max-width: 1300px) {
		width: 1460rem;
	}

	@include media() {
		flex-direction: column;
	}
}

.service__sidebar {
	position: sticky;
	top: 100rem;
	order: 1;
	width: 244rem;
	min-width: 200px;

	@include media() {
		position: static;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 16rem;
		margin-right: auto;
		margin-left: auto;
		width: 690rem;
	}
}

.service__sidebar-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 46rem;
	width: 100%;
	height: 54px;
	border: 2px solid;
	border-radius: 7rem;
	color: var(--colorKey);
	font-weight: var(--weightMedium);
	font-size: r(16, 12);

	@include media() {
		height: 97rem;
		border: 0;
		background-color: var(--colorKey);
		color: #fff;
		text-transform: uppercase;
		letter-spacing: .05em;
		font-size: r(28);
		font-family: var(--fontEnglish);
	}
}

.service__sidebar-link {
	display: flex;
	align-items: center;
	width: fit-content;
	white-space: nowrap;

	@media screen and (max-width: 1200px) {
		white-space: inherit;
		flex-wrap: wrap;
	}



	@include media() {
		display: flex;
		position: relative;
		align-items: center;
		padding-right: 60rem;
		padding-left: 40rem;
		width: 336rem;
		height: 97rem;
		border: 1px solid;
		border-radius: 10rem;
		color: var(--colorKey);
		white-space: inherit;
		font-size: r(24);
		line-height: 1.4;
		align-content: center;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 26rem;
			display: block;
			width: .5em;
			height: .5em;
			border: 1px solid;
			border-top: 0;
			border-left: 0;
			transform: translateY(-50%) rotate(45deg);
		}
	}

	&.is-current,
	&:hover {
		position: relative;
		opacity: 1;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
			background-color: var(--colorKey);

			@include media() {
				content: none;
			}
		}
	}

	&+& {
		margin-top: 30px;

		@include media() {
			margin-top: 0;
		}
	}

	&::before {
		content: '-';
		margin-right: .25em;

		@include media() {
			content: none;
		}
	}

	span {
		display: inline-block;
		font-size: 13px;

		@include media() {
			font-size: r(10);
		}
	}

	&:nth-child(3) {
		span {
			display: none;
		}
	}
}

.service__sidebar-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40rem;
	width: 100%;
	height: 54px;
	border-radius: 7px;
	background-color: var(--colorKey);
	color: #fff;

	@include media() {
		display: none;
	}

	&::after {
		content: '';
		position: absolute;
		top: calc(50% - 4px);
		right: 16px;
		display: block;
		width: .5em;
		height: .5em;
		border: 1px solid;
		border-top: 0;
		border-left: 0;
		transform: translateY(-50%) rotate(45deg);
	}
}

.service__list {
	counter-reset: number 0;
	order: 2;
	width: 962rem;

	@include media() {
		margin-top: 100rem;
		margin-right: auto;
		margin-left: auto;
		width: 690rem;
	}
}

.service__item {
	counter-increment: number 1;
	display: flex;
	justify-content: space-between;
	padding: 40rem 75rem 26rem 60rem;
	border-radius: 30rem;
	background-color: #e8ded3;

	@include media() {
		flex-direction: column;
		gap: 46rem;
		padding: 47rem 45rem 90rem;
	}

	&+& {
		margin-top: 40rem;
	}
}

.service__item-photo {
	width: 235rem;

	@include media() {
		width: 100%;

		img {
			width: 100%;
		}
	}
}

.service__item-image {
	border-radius: 20rem;

	@include media() {
		border-radius: 30rem;
	}
}

.service__item-info {
	width: 509rem;

	@include media() {
		width: 100%;
	}
}

.service__item-title {
	span {
		display: flex;
		align-items: baseline;
		color: #b27538;
		text-transform: uppercase;
		letter-spacing: .05em;
		font-weight: var(--weightMedium);
		font-size: r(14, 12);
		font-family: var(--fontEnglish);
		line-height: 1;

		@include media() {
			font-size: r(20);
		}

		&::after {
			content: counter(number, decimal-leading-zero);
			margin-left: .25em;
			font-size: r(22, 18);

			@include media() {
				font-size: r(36);
			}
		}
	}

	em {
		display: flex;
		color: var(--colorKey);
		font-style: normal;
		font-size: r(26, 20);

		@include media() {
			margin-top: 10rem;
			font-size: r(38);
		}
	}
}

.service__item-text {
	margin: 10rem 0;
	letter-spacing: .02em;
	font-weight: var(--weightLight);
	line-height: 1.875;

	@include media() {
		color: var(--colorText);
		letter-spacing: .02em;
		font-size: r(26);
		line-height: 2;

		& {
			display: -webkit-box;
			/* 必須 */
			overflow: hidden;
			/* はみ出た部分を非表示 */
			-webkit-box-orient: vertical;
			/* 必須 */

			-webkit-line-clamp: 4;
			/* 行数を制限 */
		}
	}
}

.service__item-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	padding: 0 47rem;
	min-width: 163rem;
	width: fit-content;
	height: 44rem;
	border-radius: 100rem;
	background-color: var(--colorKey);
	color: #fff;
	font-size: r(14, 11);

	@include media() {
		margin-top: 52rem;
		margin-left: 0;
		min-width: 404rem;
		height: 93rem;
		font-size: r(26);
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 15rem;
		display: block;
		width: .5em;
		height: .5em;
		border: 1px solid;
		border-top: 0;
		border-left: 0;
		transform: translateY(-50%) rotate(-45deg);

		@include media() {
			right: 40rem;
		}
	}
}



// FLOW
.service__flow-list {
	display: flex;
	flex-direction: column;
	gap: 23rem;
	margin-top: 90rem;
	margin-left: 160rem;
	width: 1360rem;

	@include media() {
		margin-right: auto;
		margin-left: auto;
		width: 690rem;
	}
}

.service__flow-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20rem;
	padding: 41rem 84rem 41rem 108rem;
	border-radius: 20rem;
	background-color: #fff;

	@include media() {
		// align-items: flex-start;
		flex-direction: column;
		padding: 40rem 45rem;
	}
}

.service__flow-title {
	display: flex;
	flex-direction: column;
	color: var(--colorKey);

	@include media() {
		align-items: center;
	}

	span {
		text-transform: uppercase;
		letter-spacing: .05em;
		font-weight: var(--weightMedium);
		font-size: r(26);
		font-family: var(--fontEnglish);

		@include media() {
			color: #b27538;
			font-size: r(20);
		}
	}

	em {
		font-style: normal;
		font-size: r(16);

		@include media() {
			font-size: r(34);
		}
	}
}

.service__flow-text {
	width: 742rem;
	letter-spacing: .02em;
	font-size: r(14, 11);
	line-height: 1.78571429;

	@include media() {
		color: var(--colorText);
		font-size: r(24);
		line-height: 1.75;
	}
}

.service__flow-tel {
	font-size: r(18, 16);
	font-weight: var(--weightMedium);
}

.section[data-section-title='Flow'] {
	@include media() {
		padding-bottom: 0;
	}
}


.service__copy {
	color: var(--colorText);
	text-align: center;
	letter-spacing: .06em;
	font-size: r(30);

	@include media() {
		font-size: r(36);
	}

	em {
		color: var(--colorKey);
		font-style: normal;
	}

	span {
		@include media() {
			font-size: r(10);
		}
	}
}



// 下層ページ
.page__parent-service {
	@include media() {
		padding-top: 40rem;
	}
}

.service__example {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 90rem;
	margin-right: auto;
	margin-left: auto;
	width: 1200rem;

	@include media() {
		align-items: center;
		flex-direction: column;
	}
}

.service__example-photo {
	width: 519rem;

	@include media() {
		width: 100%;
	}

	img {
		border-radius: 23rem;
	}
}

.service__example-info {
	width: 540rem;

	@include media() {
		display: contents;
		width: 100%;
	}
}

.service__example-title {
	color: var(--colorKey);
	font-size: r(24);

	@include media() {
		margin-top: 70rem;
		width: 100%;
		font-size: r(32);
	}

	em {
		text-transform: uppercase;
		font-weight: var(--weightMedium);
		font-style: normal;
		font-family: var(--fontEnglish);
	}

	span {
		font-size: r(14);

		@include media() {
			font-size: r(22);
		}

		&::before {
			content: '/';
			margin-right: 1em;
			margin-left: 24rem;
		}
	}
}

.service__example-list {
	color: var(--colorText);
	letter-spacing: .04em;
	font-size: r(16, 11);
	line-height: 2.125;

	@include media() {
		display: flex;
		flex-direction: column;
		gap: 16rem;
		width: 100%;
		letter-spacing: .02em;
		font-size: r(24);
		line-height: 1.66666667;

		li {
			padding: 30rem 35rem;
			border-radius: 20rem;
			background-color: #fff;

			@include media() {
				min-height: 140rem;
			}

			&::before {
				display: none;
			}
		}
	}
}

.service__example-button {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 50rem;
	padding-right: 45rem;
	padding-left: 30rem;
	min-width: 172rem;
	width: fit-content;
	height: 44rem;
	border-radius: 100rem;
	background-color: var(--colorKey);
	color: #fff;
	font-size: r(14);

	@include media() {
		justify-content: center;
		order: 99;
		min-width: 404rem;
		height: 93rem;
		font-size: r(26);
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 15rem;
		display: block;
		width: .5em;
		height: .5em;
		border: 1px solid;
		border-top: 0;
		border-left: 0;
		transform: translateY(-50%) rotate(-45deg);

		@include media() {
			right: 30rem;
			transform: translateY(-50%) rotate(45deg);
		}
	}
}

.service__example-desc {
	margin-top: 80rem;
	padding: 43rem 73rem;
	width: 100%;
	border-radius: 20rem;
	background-color: #fff;
	color: #393939;
	letter-spacing: .02em;
	font-weight: var(--weightLight);
	font-size: r(16);
	line-height: 1.875;

	@include media() {
		padding: 0;
		background-color: transparent;
		color: var(--colorText);
		font-size: r(26);
	}
}

.service__field-list {
	display: flex;
	flex-direction: column;
	gap: 12rem;
	margin-top: 60rem;
	margin-right: auto;
	margin-left: auto;
	width: 1200rem;

	@include media() {
		margin-right: 0;
		margin-left: calc(50% - 50vw + 30rem);
		max-width: none;
		width: 690rem;
	}
}

.service__field-item {
	display: flex;
	justify-content: space-between;
	padding: 40rem 68rem 40rem 87rem;
	border-radius: 20rem;
	background-color: #e8ded3;

	@include media() {
		align-items: center;
		flex-direction: column;
		padding: 50rem 45rem;
		background-color: var(--colorBase);
	}
}

.service__field-title {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	gap: 10rem;
	color: var(--colorKey);
	font-size: r(22);

	@include media() {
		align-items: center;
		font-size: r(34);
	}

	span {
		display: block;
		color: #b27538;
		text-transform: uppercase;
		letter-spacing: .05em;
		font-size: r(10, 10);
		font-family: var(--fontEnglish);
		line-height: 1.3;

		font-feature-settings: 'palt';

		@include media() {
			font-size: r(20);
		}
	}

	em {
		font-style: normal;
		line-height: 1.3;

		@include media() {
			text-align: center;
		}

		span {
			color: inherit;
		}
	}
}

.service__field-text {
	width: 700rem;
	color: var(--colorText);
	letter-spacing: .02em;
	font-weight: var(--weightLight);
	font-size: r(14, 11);
	line-height: 1.78571429;

	@include media() {
		margin-top: 40rem;
		font-size: r(24);
	}
}


.service__case {
	display: flex;
	justify-content: center;
	margin-top: 80rem;
	margin-right: auto;
	margin-left: auto;
	padding: 100rem 0 107rem;
	width: 1360rem;
	border-radius: 37rem;
	background-color: #fff;

	@include media() {
		margin-right: 0;
		margin-left: calc(50% - 50vw + 30rem);
		padding: 0;
		max-width: none;
		width: 690rem;
		background-color: transparent;
	}

	.archive__container {
		@include media() {
			margin-top: 0;
			padding: 0;
			border-radius: 0;
			background-color: transparent;
		}
	}
}


.service__case-button {
	display: flex;
	justify-content: center;
	margin-top: 80rem;

	a {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 300rem;
		width: fit-content;
		height: 55rem;
		border-radius: 28rem;
		background-color: var(--colorKey);
		color: #fff;
		font-weight: var(--weightMedium);
		font-size: r(16, 12);

		@include media() {
			min-width: 404rem;
			height: 93rem;
			border-radius: 100rem;
			font-size: r(26);
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 25rem;
			display: block;
			width: .5em;
			height: .5em;
			border: 1px solid;
			border-top: 0;
			border-left: 0;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}

.service__price-nav {
	counter-reset: price 0;
	display: flex;
	flex-wrap: wrap;
	gap: 14rem 25rem;
	margin-top: 60rem;
	margin-right: auto;
	margin-left: auto;
	width: 1200rem;

	@include media() {
		gap: 16rem 18rem;
		margin-top: 80rem;
		margin-right: 0;
		margin-left: calc(50% - 50vw + 30rem);
		max-width: none;
		width: 690rem;
	}
}

.service__price-nav-link {
	counter-increment: num 1;
	position: relative;
	display: flex;
	align-items: center;
	padding: 10rem 25rem 10rem 20rem;
	min-height: 58rem;
	width: 280rem;
	border-radius: 10rem;
	background-color: var(--colorKey);
	color: #fff;
	font-size: r(14);
	line-height: 1.3;

	@include media() {
		padding-right: 10rem;
		width: 336rem;
		height: 108rem;
		font-size: r(24);
	}

	&::before {
		content: '#' counter(num, decimal-leading-zero);
		margin-right: 10rem;
		letter-spacing: .05em;
		font-size: r(12);
		font-family: var(--fontEnglish);

		@include media() {
			font-size: r(20);
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 16rem;
		display: block;
		width: .5em;
		height: .5em;
		border: 1px solid;
		border-top: 0;
		border-left: 0;
		transform: translateY(-50%) rotate(45deg);

		@include media() {
			content: none;
		}
	}

	span {
		font-size: r(10);
		display: inline-block;
	}
}


.service__price-tab {
	display: flex;
	justify-content: space-between;
	margin-top: 60rem;
	margin-right: auto;
	margin-left: auto;
	width: 1164rem;

	@include media() {
		flex-direction: column;
		gap: 16rem;
		margin-right: 0;
		margin-left: calc(50% - 50vw + 30rem);
		max-width: none;
		width: 690rem;
	}

	&>* {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 574rem;
		height: 117rem;
		border-radius: 15rem;
		background-color: #7e6d66;
		color: #fff;
		font-size: r(18);

		@include media() {
			width: 100%;
			height: 108rem;
			font-size: r(24);
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 47rem;
			display: block;
			width: .5em;
			height: .5em;
			border: 1px solid;
			border-top: 0;
			border-left: 0;
			transform: translateY(-50%) rotate(45deg);
		}
	}
}

.service__price-tab-primary {
	background-color: var(--colorKey);
}



.service__price-container {
	counter-reset: price 0;
	display: flex;
	flex-direction: column;
	gap: 60rem;
	margin-top: 64rem;
	margin-right: auto;
	margin-left: auto;
	width: 1200rem;


	@include media() {
		margin-right: 0;
		margin-left: calc(50% - 50vw + 30rem);
		max-width: none;
		width: 690rem;
	}
}



.service__price-box {
	//counter-increment: price 1;
	padding: 40rem 70rem 60rem;
	width: 100%;
	border-radius: 20rem;
	background-color: #fff;

	@include media() {
		padding: 60rem 45rem 70rem;
		border-radius: 30rem;
		background-color: var(--colorBase);
	}
}

.service__price-title {
	display: flex;
	align-items: center;
	margin-top: 30rem;
	margin-bottom: 30rem;
	border-bottom: 2px solid;
	color: var(--colorKey);
	font-weight: var(--weightMedium);
	font-size: r(24);
	line-height: 1.75;

	@include media() {
		align-items: baseline;
		font-size: r(36);
	}

	&:first-child {
		margin-top: 0;
	}

	&.is-count {
		counter-increment: price 1;
	}

	span {
		margin-right: 20rem;
		text-transform: uppercase;
		font-size: r(10);
		font-family: var(--fontEnglish);
	}

	&>span {
		&::after {
			content: counter(price, decimal-leading-zero);
			font-size: r(16, 13);
		}
	}

	em {
		padding-bottom: .25em;
		font-style: normal;
		line-height: 1.3;
	}
}

.service__price-text {
	margin: 30rem 0;
	letter-spacing: .02em;
	font-weight: var(--weightLight);
	font-size: r(16);
	line-height: 1.875;

	@include media() {
		margin: 50rem 0;
		color: var(--colorText);
		font-size: r(26);
	}
}

.service__price-subtitle {
	display: flex;
	align-items: center;
	margin-top: 60rem;
	margin-bottom: 16rem;
	color: var(--colorKey);
	font-weight: var(--weightMedium);
	font-size: r(20);

	@include media() {
		font-size: r(32);
	}

	&::before {
		content: '';
		margin-right: 10rem;
		width: 10rem;
		height: 1px;
		background-color: var(--colorKey);
	}

	span {
		font-size: r(10);
	}
}

.service__price-faq {
	display: flex;
	align-items: center;
	gap: 37rem;
	margin: 40rem 0;
	padding: 25rem 38rem;
	border: 1px solid #7b594b;
	border-radius: 10rem;
	background-color: #fff;

	@include media() {
		padding: 40rem 45rem;
		border: 2px solid var(--colorBase);
		border-radius: 30rem;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.service__price-faq-image {
	width: 184rem;

	@include media() {
		width: 172rem;
		height: 160rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	img {
		border-radius: 10rem;
	}
}

.service__price-faq-body {
	width: calc(100% - 184rem);

	dt {
		margin-bottom: 10rem;
		font-weight: var(--weightMedium);
		font-size: r(16);

		@include media() {
			font-size: r(26);
		}
	}

	dd {
		letter-spacing: .02em;
		font-weight: var(--weightLight);
		font-size: r(16);
		line-height: 1.875;
	}
}

.service__price-table {
	width: 100%;
	table-layout: fixed;
	text-align: center;

	&.is-text-left {
		text-align: left;
	}

	&+& {
		margin-top: 30rem;
	}

	th,
	td {
		padding: 10rem 40rem;
		border: 2px solid #fff;
		vertical-align: middle;

		@include media() {
			padding: 27rem 20rem;
			border: 2px solid var(--colorBase);
			font-size: r(23);
		}
	}

	th {
		background-color: #b5aaa1;
		color: #fff;
		text-align: inherit;
		font-weight: var(--weightMedium);
	}

	td {
		background-color: #e3dcd8;

		@include media() {
			vertical-align: middle;
		}

		span {
			display: block;
			font-size: .75em;
		}
	}

	&.is-special {
		tbody th {
			background-color: #c1c1c1 !important;
			color: var(--colorBlack);
		}

		td {
			padding: 20rem 10rem;
			background-color: #e6e6e6;
		}

		td[rowspan='2'] {
			vertical-align: middle;
		}
	}
}




ul.service__price-list {
	margin-top: 40rem;
	letter-spacing: .02em;
	font-weight: var(--weightLight);
	font-size: r(14, 12);

	@include media() {
		margin-top: 50rem;
		font-size: r(22);
	}

	li {
		position: relative;
		padding-left: 26rem;
		line-height: 1.71428571;

		&+li {
			margin-top: 20rem;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			min-width: .86em;
			min-height: .86em;
			max-width: .86em;
			max-height: .86em;
			border: 1px solid var(--colorKey);
			border-radius: 100%;
			transform: translateY(40%);
		}

		li {
			+li {
				margin-top: 6rem;
			}

			&::before {
				min-width: .7em;
				min-height: .86em;
				max-width: .7em;
				max-height: .86em;
				border-radius: 0;
				background-color: var(--colorKey);
				clip-path: polygon(0 0, 100% 50%, 0 100%);
			}
		}
	}
}


.service__price-switch {
	margin-top: 30rem;
}

.service__price-switch-pc {
	@include media() {
		display: none !important;
	}
}

.service__price-switch-sp {
	@include media(pc_only) {
		display: none !important;
	}
}

.service__price-switch-section {
	padding: 60rem 0;
	border-bottom: 1px solid #b5aaa1;
}

.service__price-switch-title {
	display: flex;
	margin-bottom: 26rem;
	width: 100%;
	height: 70rem;
	border: 2px solid var(--colorBase);

	&>span {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 24rem;
		height: 100%;
		background-color: #7b594b;
		color: #fff;
		white-space: nowrap;
		font-size: r(24);
	}

	em {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: #e6e6e6;
		font-style: normal;
		font-size: r(24);
		line-height: 1.3;

		span {
			padding-top: 1px;
			font-size: r(14);
		}
	}
}


.is-middle {
	vertical-align: middle !important;
}