@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "TT Norms";
  src: url("../font/tt-norms-regular.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "TT Norms";
  src: url("../font/tt-norms-medium.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "TT Norms";
  src: url("../font/tt-norms-light.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Hannari Mincho";
  src: url("../font/HannariMincho-Regular.woff") format("woff");
}
/*
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'A1 Gothic';
  src: url('../font/AP-OTF-A1GothicStd-Regular.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'A1 Gothic';
  src: url('../font/AP-OTF-A1GothicStd-Medium.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'A1 Gothic';
  src: url('../font/AP-OTF-A1GothicStd-Light.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'A1 Gothic';
  src: url('../font/AP-OTF-A1GothicStd-Bold.woff') format('woff');
}
*/
:root {
  --board: 1920;
}

:root {
  --colorBlack: #172b40;
  --colorBg: #fff;
  --colorKey: #ef8c37;
  --colorText: #7b594b;
  --colorBase: #f8eee2;
  --colorCurrent: #c7c7c7;
}

:root {
  --fontGothic: "A1ゴシック R", "A1ゴシック M", "A1ゴシック B", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  --fontMincho: "Hannari Mincho", "HannariMincho", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  --fontEnglish: "TT Norms", sans-serif;
}

:root {
  --weightLight: 300;
  --weightRegular: 400;
  --weightMedium: 500;
  --weightBold: 700;
}

:root {
  --fontSize: clamp(10px, 10vw / var(--board) * 10 * 16, 16px);
  --letterSpacing: 0;
  --lineHeight: 1.75;
  --kerning: unset;
}

:root {
  --bodyBg: var(--colorBg);
  --speed: .4s;
}

html.interface-interface-skeleton__html-container {
  font-size: clamp(1.5625%, 0.0520833333vw, 6.25%);
}

.editor-styles-wrapper {
  background-color: var(--bodyBg);
  color: var(--colorBlack);
  letter-spacing: var(--letterSpacing);
  font-weight: var(--weightRegular);
  font-size: var(--fontSize);
  font-family: var(--fontGothic);
  line-height: var(--lineHeight);
  -webkit-font-feature-settings: var(--kerning);
          font-feature-settings: var(--kerning);
}

#editor .button_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#editor .wp-block-button,
#editor .button_area .button {
  position: relative;
}
#editor .wp-block-button::before,
#editor .button_area .button::before {
  content: "";
}
#editor .wp-block-table {
  font-size: 18rem;
}
#editor .wp-block-table * {
  border: 0;
}
#editor .wp-block-table tr {
  border-bottom: 1px solid #c7c7c7;
}
#editor .wp-block-table tr:first-child {
  padding-top: 0;
}
#editor .wp-block-table td {
  padding: 50rem 0;
}
#editor .wp-block-table td:first-child {
  width: 280rem;
}
#editor .wp-block-table + .wp-block-buttons {
  margin-top: 150rem;
}
#editor ul {
  margin-top: 1em;
}
#editor li::before {
  content: "・";
}
#editor h3.wp-block-heading {
  font-size: 30rem;
  line-height: 2.5;
}
#editor .wp-block-column p {
  margin-top: 25rem;
  font-weight: var(--weightRegular);
  font-size: 20rem;
  line-height: 2;
}
@media (max-width: 820px){
  :root {
    --board: 750;
  }
  html.interface-interface-skeleton__html-container {
    font-size: 0.1333333333vw;
  }
  .editor-styles-wrapper {
    background-color: var(--colorBase);
    font-size: clamp(10px, 10vw / var(--board) * 10 * 26, 26px);
  }
  #editor .wp-block-table {
    font-size: 12rem;
  }
  #editor .wp-block-table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40rem 0 30rem;
  }
  #editor .wp-block-table td {
    display: block;
    padding: 0;
    width: 100%;
  }
  #editor .wp-block-table td + td {
    margin-top: 15rem;
  }
  #editor .wp-block-table + .wp-block-buttons {
    margin-top: 80rem;
  }
  #editor h3.wp-block-heading {
    font-size: 15rem;
  }
  #editor .wp-block-column p {
    font-size: 13rem;
  }
}
/*# sourceMappingURL=editor.css.map */